body {
    width: 100% !important;
}
.content-area {
    width: 100% !important;
    margin-top: 100px;
}

.lixo {
    margin-left: 10px;
}

#table-title {
    background-color: #435D7D;
}

#menu-header {
    width: 100% !important;
    height: 100px;
}