body {
    width: 100% !important;
}

.content-area {
    /* max-width: 100% !important; */
}

.lixo {
    margin-left: 10px;
}

#table-title {
    background-color: #435D7D;
}

#menu-header {
    width: 100% !important;
    height: 100px;
}

#cards-content-area {
    max-width: 1000px;
    display: flex;
}
